<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="jumbotron">
    <h1>Registro de productos</h1>
    <hr>
    <form (ngSubmit)="registrar(forma)" #forma="ngForm">
      <div class="input-group-prepend">
        <span class="input-group-text col-2">Nombre</span>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="productos.nombre">
      </div><br>
      <div class="input-group-prepend">
        <span class="input-group-text col-2">Precio</span>
        <input type="number" class="form-control" name="preciounitario" [(ngModel)]="productos.preciounitario">
      </div><br>
      <div class="input-group-prepend">
        <span class="input-group-text col-2">Categoria</span>
        <input type="text" class="form-control" name="categoria" [(ngModel)]="productos.categoria">
      </div><br>
      <div class="input-group-prepend">
        <span class="input-group-text col-2">Usuario</span>
        <input type="text" class="form-control" name="usuario" [(ngModel)]="productos.usuario">
      </div><br>
      <button type="submit" class="btn btn-block btn-outline-success">Registrar</button>
    </form>
  </div>

  <div class="jumbotron">
    <h1>Cambio de productos</h1>
    <hr>
    <form (ngSubmit)="actualizar(forma)" #actu="ngForm">
      <div class="input-group-prepend">
        <span class="input-group-text col-2">Id</span>
        <input type="text" class="form-control" name="id" [(ngModel)]="productos.id">
      </div><br>
      <div class="input-group-prepend">
        <span class="input-group-text col-2">Nombre</span>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="productos.nombre">
      </div><br>
      <div class="input-group-prepend">
        <span class="input-group-text col-2">Categoria</span>
        <input type="text" class="form-control" name="categoria" [(ngModel)]="productos.categoria">
      </div><br>
      <div class="input-group-prepend">
        <span class="input-group-text col-2">Precio</span>
        <input type="number" class="form-control" name="preciounitario" [(ngModel)]="productos.preciounitario">
      </div><br>
      <button type="submit" class="btn btn-block btn-outline-warning">Actualizar</button>
    </form>
  </div>

  <table class="table col-xs-12">
    <thead class="bg-dark">
      <tr style="color: azure;">
        <th scope="col">Numero</th>
        <th scope="col">Id</th>
        <th scope="col">Disponible</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoria</th>
        <th scope="col">Precio</th>
        <th scope="col">Usuario</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody class="table-secondary">
      <tr *ngFor="let tab of tabla; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{tab._id}}</td>
        <td>{{tab.disponible}}</td>
        <td>{{tab.nombre}}</td>
        <td>{{tab.categoria._id}}</td>
        <td>{{tab.preciounitario}}</td>
        <td>{{tab.usuario._id}}</td>
        <td><button class="btn btn-outline-danger ml-3" (click)="elimiar(tab._id)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
